.contResponsive{
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagenCirculo1{
  width: 70vh;
  height: 70vh;
  float: left;
}

.imagenCirculo2{
  width: 70vh;
  height: 70vh;
  float: right;
}


@media (max-width: 800px) {
    .contResponsive {
      background: blue;
    }
  }
  
  @media (min-width: 800px) and (max-width: 1280px) {
    .contResponsive {
      background: red;
    }
  }
  
  @media (min-width: 1280px) {
    .contResponsive {
      background: green;
    }
  }